.chat-section{
    padding: 128px 64px 64px 64px;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.chat-container{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.chat-hero-content-container{
        display: flex;
        flex-direction: column;
        gap: 16px;
        
        align-items: center;
        padding-top: 64px;
        width: 100%;
        height: 72vh;
        animation: slide_up 1.75s ease;

        text-align: center;
        
}

.chat-hero-content-container .section-heading{
    letter-spacing: 0px;
}

.prompt-card{
    padding-bottom: 64px;
}

.assistant-chat-container{
    border: 2px solid #0582ca;
    padding: 18px;
    border-radius: 24px;
    border-bottom-left-radius: 0px;
    background-color: white;
}

.assistant-chat-container img{
    
    width: 4rem;
}

.prompt-card .user-chat-container{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8px;
}

.prompt-card .user-chat-container p{
    background-color: #0582ca;
    background-image: linear-gradient(to bottom right, #0582ca, #00a6fb, #58c5ff);
    color: white;
    padding: 18px;
    width: 40%;
    border-radius: 24px;
    border-bottom-right-radius: 0px;
}


/* User input box */
.user-input-box-container{
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    background-color: #f0f8ff;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-bottom: 16px;
}

.user-input-box-container span{
    font-size: 0.85rem;
    color: gray;
    font-style: italic;
}

.chatbox-form{
    background-color: white;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    border-radius: 8px;

    box-shadow: 0px -6px 8px rgb(0, 0, 0, 0.1);

    
}

.chatbox-form input{
    border: 0;
    background-color: white;
    width: 100%;
    height: 4vh;
    font-size: 1rem;
    resize: none;
    overflow: hidden;
    display: flex;

    
}

.chatbox-form input:focus{
    outline: none; 
}



.submit-chatbox-button{
    border: 0;
    background-color: white;
    
    height: 4vh;
    width: 4vh;
    cursor: pointer;
    font-size: 1rem;
}

@media (max-width: 480px){
    .chat-section{
        padding: 128px 0px 64px 0px;
    }

    .chat-container{
        width: 75%;
    }

    .prompt-card .user-chat-container p{
        width: 75%;
    }   

    .assistant-chat-container{
        padding: 24px 36px;
    }
}