/* 
background: #ecf0f3
lighter blue color text: #1460f2
darker blue color text: #003c80

button color: #1460f2
button hover color: #0f4bbf
*/
#home{
    background-color: #ecf0f3;
}

/* General elements */
.section-container{
  padding: 32px 64px;
}

.section-subheading{
  padding: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #003c80;
}

.section-heading{
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

hr{
  margin: 0 64px;
}

/* Hero Section */
.hero{
    display: flex;
    justify-content: center;
    padding: 128px 0 64px 0;
}

.hero-content{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
}

.hero .section-subheading{
  letter-spacing: 1.5px;
  color: black;
}

#hero-image{
    height: 75vh;
    animation: slide_up 1.5s ease;
}

@keyframes slide_up {
  0% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
  
}


.hero-content-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    align-items: flex-start;
    width: 90%;
    animation: slide_right 1.75s ease;
}

@keyframes slide_right {
  0% {
    transform: translateX(-5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.section-heading span{
  color:#1460f2;
}

.section-heading{
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
}

.hero-button-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    align-items: flex-start;
    width: 90%;
    animation: slide_right 1.5s ease;
}

.hero-content-container-button{
    padding: 16px 32px;
    background-color: #1460f2;
    color: #ecf0f3;
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-content-container-button:hover{
    background-color: #0f4bbf;
}

.hero-content-container-button:active{
    transform: scale(0.95);
}



/* Resume Summary Section */
.resume-content{
  padding: 32px 0;
  display:flex;
  align-items: center;
  justify-content: center;
}

.resume-content-container{
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.resume-content-options{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
  gap: 16px;

}

.option-list-active, .option-list-inactive{
  border: 2px solid #1460f2;
  
  padding: 16px 48px;
  border-radius: 8px;
  
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-list-active{
  background-color: #1460f2;
  color: white;
}

.option-list-inactive{
  color: #1460f2;

}


.resume-content-inactive{
  display:none;
}

.resume-content-active{
  display:flex;
  flex-direction: column;

  animation: fade_in 0.5s ease forwards
}

      /* Education & Experience  */
.education-card-container, .experience-card-container {
  padding: 1.5rem 2.5rem;
  display:flex;
  flex-direction: row;
  transition: 0.5s;
  border-bottom: 2px solid #c7d6e2;
}
.education-card-container:last-child, .experience-card-container:last-child {
  border-bottom: none;
}

.education-card-logo img, .experience-card-logo img {
  height: 25vh;
  border: 2px solid #ecf0f3;
  background-color: #fffffe;
}

.education-card-details, .experience-card-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;
}

.education-card-container h1, .experience-card-container h1 {
  font-size: 2rem;
  color: #357bf7;
  font-weight: 700;
}


.education-card-container span, .experience-card-container span {
  font-size: 1rem;
  font-weight:600;
  color: #003c80;
}

.education-card-meta, .experience-card-meta {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.education-card-container ul, .experience-card-container ul {
  list-style-type:disc;
  padding: 0.75rem 1rem;
}

.education-card-container li, .experience-card-container li {
  font-size: 0.85rem;
  font-weight: 400;
}

.fade-out {
  animation: fade_out 0.5s ease forwards;
}



@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}

/* Project Showcase Section */
.project-card-container{
  padding: 1.5rem 2.5rem;
  display:flex;
  flex-direction: row;
  transition: 0.5s;
  border-bottom: 2px solid #c7d6e2;
  width: 100%;
}

.project-card-container:last-child {
  border-bottom: none;
}

.project-card-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card-image img{
  height: 100%;
  width: 100%;
  object-fit: fill;
  border: 2px solid #ecf0f3;
  background-color: #fffffe;
}

.project-card-details{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;
  width: 70%;
  gap: 32px;
}

.project-card-container h1{
  font-size: 2rem;
  color: #357bf7;
  font-weight: 700;
}

.project-card-container p{
  font-size: 0.85rem;
  font-weight: 400;
}

.project-card-description{
  display: flex;
  flex-direction: column;
}

.project-card-description h4{
  margin-bottom: 18px;
  color: #48657d;
}

.project-card-description p{
  margin-top: 18px;
  font-size: 1rem;
}

.project-card-meta{
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.project-card-meta span{
  color: #003c80;
  font-size: 1rem;

}

.project-card-meta span:first-child{
  font-weight: 600;
}



.project-card-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.project-card-buttons a{
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.project-card-buttons a:hover{
  background-color: #1460f2;
}

.link-avail{
  background-color: #357bf7;

}

.link-unavail{
  pointer-events: none;
  background-color: #808080;
}

.project-load-more-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}

.project-load-more-button{
  padding: 16px 32px;
  background-color: #1460f2;
  color: #ecf0f3;
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.project-load-more-button:hover{
    background-color: #0f4bbf;
}

.project-load-more-button:active{
    transform: scale(0.95);
}

/* Testimonial */
.carousel-wrapper {
    background-color: #ffffff;
    border-radius: 0.5rem; /* Equivalent to rounded-lg */
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); /* Equivalent to shadow-xl */
    position: relative;
    margin: 2rem 8rem;
    padding: 2rem 8rem;
}

.carousel-container {
    overflow: hidden;
    position: relative;
}

.carousel-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}


/* --- Testimonial Card Styles --- */
.testimonial-card {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    text-align: center;
}

.testimonial-text {
    font-size: 1.125rem; /* Equivalent to text-lg */
    font-style: italic;
    color: #374151; /* Equivalent to text-gray-700 */
}


.testimonial-author {
    margin-top: 1rem; /* Equivalent to mt-4 */
    display: block;
    font-weight: 600; /* Equivalent to font-semibold */
    color: #111827; /* Equivalent to text-gray-900 */
}



.testimonial-author a {
    color: #2563eb; /* Equivalent to text-blue-600 */
    text-decoration: none;
}

.testimonial-author a:hover {
  border-bottom: 1px solid #1460f2; /* Equivalent to border-b-2 */
}


/* --- Navigation Buttons and Dots --- */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
}


.carousel-btn.left {
    left: 0.5rem;
}

.carousel-btn.right {
    right: 0.5rem;
}

.dots-container {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #cbd5e1;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none; /* Ensure button reset */
    padding: 0;
}

.dot.active {
    background-color: #4b5563;
}

/* Last section */
.section-container:last-child {
    /* background-color: #003c80; */
    padding: 32px 36px 16px 36px;
    background-color: #5a6d7e;
    color: #ffffff;
}

.section-container:last-child h1{
  font-size: 2rem;
}

.section-container:last-child h4{
  font-size: 1.5rem;
  font-weight: 400;
  margin: 16px 0;
}

.contact-card{
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #c7d6e2;
}

.contact-card:last-child{
  border-bottom: none;
}

.contact-card img{
  width: 36px;
  height: 36px;
  margin-right: 12px;
}

.contact-card span {
  position: relative;
  color: #ffffff;
  transition: color 0.3s ease;
}

.contact-card a{
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 1.125rem;
}

.contact-card a span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: aqua;
}

.contact-card a:hover span {
  color: aqua;
}

.contact-card a:hover span::after {
  animation: underline-expand 0.3s forwards ease-out;
}
@keyframes underline-expand {
  from { width: 0; }
  to   { width: 100%; }
}

footer{
  padding-top: 32px;
  text-align: center;
}





/* Nest Hub Max */
/* (Asus Zenbook Fold, Surface Pro 7, iPad Pro, iPad Air) still have UI issue */
/* (Nest Hub, Surface Duo, Surface Pro 7) and below */
@media (max-width: 1280px){

  /* General elements */
  .section-subheading{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .section-heading{
    font-size: 4.5rem;
  }

  .section-container{
    padding: 32px 32px;
  }

  hr{
    margin: 0 32px;
  }


  /* Hero Section */
  .hero{
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .hero-content{
    width: 100%;
  }

  #hero-image{
    height: 75vw;
  }

  .hero-content{
    text-align: center;
  }

  .hero-content-container{
    align-items: center;
    width: 100%;
  }


  .hero-button-container{
    align-items: center;
  }

  .hero-content-container-button{
    font-size: 1.75rem;
  }

  /* Resume Summary Section */
  .option-list-active, .option-list-inactive{
    font-size: 1.75rem;
  }

  .education-card-logo, .experience-card-logo{
    display:flex;
    justify-content: center;
  }

  .education-card-container, .experience-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .education-card-logo img, .experience-card-logo img{
    height: 20vh;
    width: 20vh;
  }

  .education-card-details, .experience-card-details {
    padding: 0.5rem 0;
  }

  .education-card-details h1, .experience-card-details h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .education-card-meta, .experience-card-meta {
    flex-direction: column;
    gap: 0;
  }

  .education-card-details span, .experience-card-details span{
    font-size: 1rem;
    text-align: center;
  }
  .education-card-details span:last-child, .experience-card-details span:last-child{
    font-weight: 400;
  }
  /* Project */
  .project-card-container{
    flex-direction: column;
    align-items: center;
  }
  
  .project-card-image{
    width: 75%;
  }

  .project-card-image img{
    height:100%;
    width:100%;
  }

  .project-card-details{
    padding: 4vh 0;
    width: 100%;
    text-align: center;
  }

  .project-card-description p{
    text-align: left;
  }


  .project-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .project-card-meta{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 16px;
  }

  .project-card-buttons a{
    font-size: 1rem;
  }

  .project-load-more-container{
    margin-top: 32px;
  }

  /* Testimonial */
  .carousel-wrapper {
    margin: 2rem 4rem;
    padding: 2rem 4rem;
  }

  .testimonial-author a{
    border-bottom: 1px solid #1460f2;
  }

  .testimonial-author a:hover{
    text-decoration: none;
  }
}

@media (max-width: 768px){

  /* General elements */
  .section-heading{
    font-size: 3rem;
  }

  /* Hero Section */
  .hero-content-container-button{
    font-size: 1.25rem;
  }

  /* Resume Summary Section */
  .option-list-active, .option-list-inactive{
    font-size: 1.25rem;
  }

  /* Testimonial */


}

@media (max-width: 480px){

  /* General elements */
  .section-subheading{
    font-size: 0.75rem;
    letter-spacing: 0;
    text-align: center;
  }

  .section-heading{
    font-size: 2rem;
    text-align: center;
  }

  /* Hero Section */
  #hero-image{
    height: 45vh;
  }

  .hero-content{
    gap: 24px;
  }

  .hero-content-container-button{
    font-size: 1rem;
    padding: 12px 24px;
  }

  /* Resume Summary Section */
  .option-list-active, .option-list-inactive{
    font-size: 1rem;
    padding: 12px 36px;
  }

  .education-card-details h1, .experience-card-details h1 {
    font-size: 1.25rem;
    text-align: center;
  }


  .education-card-details ul, .experience-card-details ul {
    padding: 2vh 0;
    
  }

  /* Project Section */
  .project-card-image{
    width: 100%;
  }

  .project-card-container{
    padding: 1.5rem 0.5rem;
  }

  .project-card-buttons a{
    font-size: 0.75rem;
  }

  /* Testimonial */
  .testimonial-text{
    font-size: 1rem;
  }

  .testimonial-author {
    font-size: 0.875rem;
  }

  .carousel-wrapper {
    margin: 2rem 0;
    padding: 0.5rem 1.5rem;
  }

  /* Contact */
  .section-container:last-child h1{
    font-size: 1.5rem;
  }

  .section-container:last-child h4{
    font-size: 1rem;
    font-weight: 400;
    margin: 16px 0;
  }

  .contact-card span{
    font-size: 0.875rem;
  }


}

